h1{
	color:#FFFFFF;
	background-color:#8B5E3B;
}

body{
	color:#4B3832;
	background-color:#F5EFE6;
}
	
nav{
	background-color:#D4A373;
}


main{
	background-color:#FFFFFF;
}

footer{
	color:#FFFFFF;
	background-color:#8B5E3B;
}
